#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 86vh;
  background-color: #0b525b;
  color: var(--text-color);
}

#collaborate {
  width: 25rem;
}

#collaborate img {
  width: 100%;
}
.contact-header h2 {
  font-size: 3.5em;
  letter-spacing: 2px;
  text-align: center;
}

.contact-header p {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-align: center;
}

.profiles {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 1rem 0;
}

.social-media {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 1rem;
}

.profiles-links {
  display: flex;
  justify-content: center;
  justify-content: center;
  gap: 20px;
  font-size: 1rem;
  color: var(--text-color);
}

.profiles div a {
  width: 2rem;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--navbar-color);
  padding: 3px 7px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  font-size: 1rem;
}

a.profile-link:hover {
  background-color: var(--link-hover-background);
  color: var(--text-hover-color);
}

.email-me {
  width: fit-content;
  text-align: center;
  font-size: 1rem;
  padding: 0.2rem;
}

a#email-me-link {
  text-decoration: underline 2px var(--text-color);
  padding: 2px;
  color: var(--text-color);
}

a#email-me-link:hover {
  text-decoration: underline 2px var(--link-hover-background);
  background-color: var(--link-hover-background);
  color: var(--text-hover-color);
  border-radius: 5px;
}

.fa-smile-wink {
  color: var(--link-hover-background);
  text-shadow: var(--box-shadow);
  border-radius: 50%;
}

hr {
  border: 0;
  height: 3px;
  width: 30%;
  margin: 0 auto 1rem auto;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--navbar-color),
    rgba(0, 0, 0, 0),
    var(--link-hover-background),
    rgba(0, 0, 0, 0),
    var(--navbar-color),
    rgba(0, 0, 0, 0)
  );
}

@media (max-width: 640px) {
  #collaborate {
    width: 15rem;
  }
  .contact-header h2 {
    text-align: center;
    font-size: 1.8rem;
  }
  .profiles {
    font-size: 1rem;
    padding-bottom: 0;
  }
  .contact-header p {
    font-size: 1rem;
  }
  .social-media {
    flex-direction: column;
  }

  .fa-hand-point-right {
    opacity: 0;
  }
}

@media (min-width: 641px) and (max-width: 1100px) {
  .contact-header h2 {
    text-align: center;
    font-size: 2rem;
  }
  .profiles {
    flex-wrap: wrap;
    font-size: 1.2em;
  }
}
