footer {
  text-align: center;
  font-size: 1rem;
  padding: 1rem 0 3rem 0;
  background-color: #0b525b;
  color: var(--text-color);
}

footer .copyright {
  margin-top: 1px;
}
@media (max-width: 640px) {
  footer {
    padding: 1rem 2.5rem;
  }
}
