#navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.5rem;
  position: fixed;
  left: 0;
  right: 0;
  background-color: var(--navbar-color);
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.logo {
  padding: 5px 0;
  font-size: 3.5rem;
  letter-spacing: 1px;
  font-family: "Fleur de Leah", serif;
  padding-left: 30px;
}

.logo a {
  text-decoration: none;
  color: var(--link-hover-background);
}

.logo:hover {
  transform: perspective(650px) translate3d(8px, 0, 80px);
}

#navbar ul {
  cursor: pointer;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  padding: 20px 20px 20px 0;
}

#navbar ul li a {
  text-decoration: none;
  color: var(--text-color);
  padding: 7px 15px;
}

#navbar ul li a:hover {
  background-color: var(--link-hover-background);
  color: var(--text-hover-color);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

@media (max-width: 40rem){
  .logo {
    margin: auto 0;
    font-size: 1.8em;
  }
  .logo:hover {
    transform: none;
  }
  #navbar ul {
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: .7em;
  }

  #navbar ul li {
    padding: 3px 0;
  }

  #navbar ul li a:hover {
    background-color: transparent;
    box-shadow: none;
    color: var(--text-color);
    text-decoration: underline 5px var(--link-hover-background);
  }
}

@media (max-width: 800px) {
  .logo {
    margin: auto 0;
    font-size: 1.8em;
  }
  .logo:hover {
    transform: none;
  }
  #navbar ul {
    font-size: .8em;
  }
}