#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
  background-color: var(--navbar-color);
}

.projects-section-header h2 {
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 2rem;
  letter-spacing: 1px;
  color: var(--text-color);
  font-size: 3.5rem;
}

.projects-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  width: 100vw;
}

.project-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: auto;
  border-radius: 50px;
  margin: 15px;
}

.project-tile .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  bottom: 40%;
  left: 2px;
  right: inherit;
  width: calc(100% - 4px);
  /* height: 100%; */
  text-align: center;
  background-color: var(--link-hover-background);
  color: var(--text-hover-color);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  font-size: 0;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 2rem 0;
  /* border-radius: 50px; */
  opacity: 0;
  transition: opacity 0.3s ease-in-out, font-size 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.project-tile img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 2px solid #0b525b;
}

.show-more-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--navbar-color);
  color: var(--text-color);
  border: transparent;
  padding: 1rem 2rem;
  margin: 1.5rem auto;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

@media (hover: hover) and (pointer: fine) {
  .project-tile:hover .overlay {
    opacity: 1;
    font-size: 2rem;
  }

  .show-more-projects:hover {
    background-color: var(--link-hover-background);
    color: var(--text-hover-color);
  }
}

@media (max-width: 640px) {
  .projects-section-header h2 {
    padding-top: 9rem;
    font-size: 2.8rem;
  }
  .project-tile {
    width: 80%;
  }
}

@media (min-width: 641px) and (max-width: 1100px) {
  .project-tile {
    width: 30%;
  }
}

@media (min-width: 1101px) {
 
  .project-tile {
    width: 25%;
  }
}
