#welcome-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  padding: 8rem 5rem;
  background: lightseagreen;
  background: linear-gradient(
    45deg,
    rgba(255, 183, 3, 1) 0%,
    rgba(208, 159, 20, 1) 9%,
    rgba(32, 178, 170, 1) 49%,
    rgba(36, 139, 137, 1) 76%,
    rgba(43, 72, 81, 1) 100%
  );
}

#browsing {
  width: 90rem;
  margin: auto;
}

#browsing img {
  width: 100%;
}

.welcome-container h1 {
  font-size: 3rem;
  margin: 3rem 0;
  text-align: center;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

.welcome-container p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--dark-gray);
  opacity: 70%;
}
.welcome-container p.action {
  margin-top: 3rem;
}

.welcome-container p span {
  font-size: 3rem;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

@media (max-width: 40rem) {
  #welcome-section {
    flex-direction: column;
    padding: 8rem 1rem;
  }

  #browsing {
    width: 300px;
  }

  .welcome-container h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .welcome-container p.subtitle,
  .welcome-container p.action {
    font-size: 1rem;
    line-height: normal;
  }

  .welcome-container p span {
    font-size: 1.5rem;
  }
}

@media (min-width: 40.06rem) and (max-width: 68.75rem) {
  #welcome-section {
    flex-direction: column;
    padding: 8rem 3rem;
  }

  #browsing {
    width: 500px;
  }


  .welcome-container h1 {
    font-size: 2.5rem;
  }
  .welcome-container p {
    font-size: 1.2rem;
  }

  .welcome-container p span {
    font-size: 2.5rem;
  }
}
