@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap");

:root {
  --dot-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  --needle-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Glass Antiqua", cursive;
  background-color: #051224;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  position: relative;
  height: 740px;
  width: 740px;
  margin: auto;
}

.hours-ring {
  position: relative;
  border-radius: 50%;
  background-color: #3a4444;
  width: 640px;
  height: 640px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.clock {
  position: absolute;
  top: 8%;
  left: 8%;
  width: 540px;
  height: 540px;
  border-radius: 50%;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background: linear-gradient(
    135deg,
    rgba(1, 20, 17, 1) 0%,
    rgba(49, 102, 93, 1) 19%,
    rgba(70, 138, 126, 1) 39%,
    rgba(36, 139, 137, 1) 58%,
    rgba(57, 122, 102, 1) 79%,
    rgba(87, 99, 54, 1) 100%,
    rgba(43, 72, 81, 1) 100%
  );
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  border-radius: 50%;
  transition: all 0.35s ease-in;
}

.needle.hours {
  width: 100px;
  height: 265px;
  background-color: #f2a20c;
  transform: translate(-50%, -100%) rotate(0deg);
  box-shadow: var(--needle-shadow);
}

.needle.minutes {
  width: 100px;
  height: 255px;
  background-color: #282335;
  transform: translate(-50%, -100%) rotate(0deg);
  box-shadow: var(--needle-shadow);
}

.needle.seconds {
  width: 100px;
  height: 265px;
  background-color: #dfdfae;
  transform: translate(-50%, -100%) rotate(0deg);
  box-shadow: var(--needle-shadow);
}

.needle.seconds img {
  width: 7.5rem;
  margin-left: -25px;
  margin-top: -70px;
  transform: rotateZ(180deg);
}

.hour-dots {
  height: 640px;
  width: 640px;
  position: absolute;
}

.hour-dots div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
}

.dot {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  height: 40px;
  width: 40px;
  background-color: #fffcfc;
  border-radius: 50%;
  box-shadow: var(--dot-shadow);
}

.inner-circle {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #3e463c;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.center {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3c6d3c;
  box-shadow: var(--dot-shadow);
}

.center img {
  width: 250px;
  position: absolute;
  top: -50px;
  left: -35px;
}

.time-and-date {
  color: #faebd7;
  font-size: 2em;
  text-align: center;
  margin: 1.2rem .5rem .5rem 3rem;
  border-radius: 5px;
  display: inline-block;
}

@media (max-width: 640px) {
  body {
    margin-top: 20px;
  }
  .container {
    width: auto;
  }
  .hours-ring,
  .hour-dots {
    border-radius: 50%;
    width: 380px;
    height: 380px;
    margin: auto;
  }
  .dot {
    font-size: 1.5rem;
    width: 25px;
    height: 25px;
  }
  .clock {
    margin: auto;
    width: 320px;
    height: 320px;
  }
  .needle.hours {
    width: 50px;
    height: 155px;
  }
  .needle.minutes {
    width: 50px;
    height: 150px;
  }
  .needle.seconds {
    width: 50px;
    height: 155px;
  }
  .needle.seconds img {
    position: absolute;
    width: 70px;
    right: -5px;
    top: 10px;
  }
  .inner-circle {
    width: 110px;
    height: 110px;
  }
  .center {
    max-width: 90px;
    max-height: 90px;
  }
  .center img {
    width: 150px;
    position: absolute;
    top: -30px;
    left: -25px;
  }
  .time-and-date {
    font-size: 1.5rem;
    margin: auto;
    margin-bottom: 35px;
    display: block;
  }
}