#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
  background-color: var(--navbar-color);
}

.projects-section-header h2 {
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 2rem;
  letter-spacing: 1px;
  color: var(--text-color);
  font-size: 3.5rem;
}

.projects-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
}

.project-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  background-color: var(--project-tile-background);
  box-shadow: var(--box-shadow);
  border-radius: 50px;
  margin: 15spx;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.3rem;
  padding: 10px 0 15px 0;
}

img {
  width: 100%;
  border-radius: 50px;
  padding: 5px;
}

.project-link {
  max-width: 100%;
  font-size: 1.2em;
}

.project-tile:hover {
  background-color: var(--link-hover-background);
  border-radius: 50px;
  font-weight: 500;
}

.project-tile a {
  color: var(--text-color);
  text-decoration: none;
}

.project-tile a:hover {
  text-decoration: none;
  color: var(--text-hover-color);
}

.more-projects-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.projects-link {
  text-align: center;
  width: 20%;
  margin: 30px auto;
  padding: 12px;
  background-color: var(--project-tile-background);
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  text-decoration: none;
  font-size: 1.5em;
  letter-spacing: 1.5px;
}

.projects-link span {
  padding: 6px 0 0 8px;
}

.projects-link:hover {
  background-color: var(--link-hover-background);
  color: var(--dark-gray);
}

@media (max-width: 640px) {
  .projects-section-header h2 {
    padding-top: 9rem;
    font-size: 2.8rem;
  }
  .project-tile {
    width: 80%;
  }
  .projects-link {
    font-size: 1rem;
    width: 35%;
  }
}

@media (min-width: 641px) and (max-width: 1100px) {
  .project-tile {
    width: 35%;
  }
  .project-tile a {
    font-size: 1rem;
    text-align: center;
  }
  .projects-link {
    width: 30%;
  }
}
