@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

:root {
  --whitesmoke-color: #fffcf2;
  --white-gray: #fbf9f2;
  --orange: #eb5e28;
  --darker-orange: #c73e08;
  --dark-brown: #252422;
  --songs-background: linear-gradient(
    141deg,
    rgba(255, 252, 242, 1) 0%,
    rgba(228, 225, 216, 1) 36%,
    rgba(250, 247, 237, 1) 49%,
    rgba(220, 218, 209, 1) 63%,
    rgba(248, 245, 235, 1) 100%
  );
  --action-btn-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --text-shadow: rgba(0, 0, 0, 0.16) 0px 6px 6px;
  --btn-clicked-shadow: rgba(255, 253, 253, 0.596) 0px 0px 15px;
}

* {
  box-sizing: border-box;
}

body {
  background: url("images/listening.jpg");
  background-color: #90431c;
  background-size: cover;
  background-position: 55%;
  background-repeat: no-repeat;
  font-family: "Lato", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  margin: 0;
  overflow: hidden;
}

.music-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  position: relative;
  width: 30rem;

  .music-info {
    background: var(--songs-background);
    box-shadow: var(--text-shadow);
    border-radius: 10px 10px 0 0;
    letter-spacing: 1.2px;
    width: 100%;
    padding: 0.2rem 1rem 1rem 1rem;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    pointer-events: none;

    div.song-info {
      display: flex;
      font-size: 0.9rem;
      padding: 0.5rem;
      text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    h4.title {
      margin: 0;
      width: 100%;
    }

    .progress-container {
      background-color: var(--white-gray);
      border: 1px solid var(--whitesmoke-color);
      border-radius: 5px;
      cursor: pointer;
      margin: 0.3rem 0 1rem 0;
      height: 0.6rem;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px inset;
    }

    .progress {
      background-color: var(--orange);
      border: 1px solid var(--darker-orange);
      border-radius: 5px;
      height: 100%;
      width: 0%;
      transition: width 0.1s linear;
    }
  }
}

.music-container.play {
  .image-container img {
    animation: rotate 3s linear infinite;
    animation-play-state: running;
  }
  .music-info {
    opacity: 1;
    pointer-events: auto;
  }
}

.music-container.pause {
  .image-container img {
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
  }
  .music-info {
    opacity: 1;
    pointer-events: auto;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.play-section {
  display: flex;
  align-self: flex-start;
  border-radius: 5px;
  height: auto;
  width: 100%;
  margin-top: auto;
  background-color: var(--orange);
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;

  .image-container {
    width: 8rem;
    height: 8rem;
    position: relative;
    left: 5px;
    top: -25px;

    img {
      object-fit: cover;
      border-radius: 50%;
      width: inherit;
      height: inherit;
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: end;
  width: 100%;
  padding: 0;

  .navigation {
    margin: 0.3rem;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;

    .action-btn {
      background-color: transparent;
      border-radius: 5px;
      padding: 0.4rem;
      color: var(--dark-brown);
      font-size: 1.5rem;
      border: none;
      cursor: pointer;
      text-shadow: var(--text-shadow);
      margin: 0.3rem;

      .fa-pause {
        padding-right: 2.4px;
        color: #f8c7b4;
      }
    }

    .active,
    .displayed,
    .clicked {
      color: var(--whitesmoke-color);
      text-shadow: var(--btn-clicked-shadow);
    }

    .action-btn:active {
      transform: scale(90%);
    }
  }

  .volume-section {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin: 0.5rem;
    border-radius: 5px;

    .volume-btn {
      background-color: transparent;
      border: none;
    }
    .fa-solid {
      font-size: 1.5rem;
      padding-right: 0.55rem;
      color: var(--dark-brown);
      cursor: pointer;
      text-shadow: var(--text-shadow);
    }

    .fa-solid.fa-volume-high {
      padding-right: 0;
    }

    input {
      appearance: none;
      height: 0.5rem;
      border-radius: 5px;
      box-shadow: rgba(100, 95, 92, 0.685) 0px 3px 8px inset;
      background-image: linear-gradient(var(--darker-orange), var(--orange));
      background-size: 30% 100%;
      background-repeat: no-repeat;
      width: 16rem;
    }

    input::-webkit-slider-thumb {
      appearance: none;
      background-color: var(--dark-brown);
      border: 1px solid var(--orange);
      border-radius: 50%;
      height: 0.8rem;
      width: 1.8rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      cursor: pointer;
    }

    input::-webkit-slider-thumb:hover {
      background-color: var(--white-gray);
    }
  }
}

.playlist {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  pointer-events: none;
  background: var(--songs-background);
  box-shadow: var(--text-shadow);
  border-radius: 0 0 5px 5px;
  letter-spacing: 1.2px;
  font-size: 0.8rem;
  width: 100%;
  padding: 0 8px;
}

.playlist.show {
  opacity: 1;
  pointer-events: auto;
}

ul {
  max-height: 5rem;
  overflow: auto;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0.3rem;
    font-size: 0.9rem;
    text-shadow: var(--text-shadow);
    cursor: pointer;
    width: 100%;
  }

  li.active {
    color: var(--darker-orange);
    font-weight: 600;
  }
}

/* Styles for the playlist scrollbar*/
ul::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 5px;
  box-shadow: none;
}

ul::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}

ul::-webkit-scrollbar-thumb {
  background-color: var(--dark-brown);
  border: 1px solid var(--whitesmoke-color);
  border-radius: 5px;
}
/* End of scrollbar styles */

.credits {
  font-size: 1rem;
  text-align: right;
  text-shadow: var(--text-shadow);
  font-weight: bold;
  padding: 0.5rem 0.5rem 0 0;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  color: var(--dark-brown);
}

.copyrights-modal {
  position: absolute;
  background-color: #33110482;
  box-shadow: var(--text-shadow);
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}

.copyrights {
  width: 26rem;
  background-color: var(--whitesmoke-color);
  border-radius: 5px;
  padding: 1rem;
  color: var(--dark-brown);
  height: fit-content;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
}

.close-modal {
  border: none;
  background-color: var(--dark-brown);
  color: var(--whitesmoke-color);
  font-size: 1.2rem;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
}

.text {
  margin: 2rem 0;
}

p {
  font-size: 1rem;
}

.copyrights a {
  text-decoration: none;
  color: var(--orange);
}

.copyrights a:hover {
  text-decoration: underline 2px solid var(--orange);
}

footer {
  p {
    color: var(--whitesmoke-color);
    a {
      text-decoration: underline 2px var(--orange);
      color: var(--whitesmoke-color);
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .fas:hover {
    color: var(--whitesmoke-color);
  }

  #volume-icon:hover {
    color: var(--white-gray);
  }

  .credits:hover {
    color: var(--whitesmoke-color);
  }

  li:hover {
    background-color: var(--dark-brown);
    color: var(--whitesmoke-color);
  }

  a:hover {
    color: var(--orange);
  }

  .close-modal:hover {
    background-color: var(--orange);
  }
  .close-modal:active {
    transform: scale(95%);
  }
}

@media (max-width: 640px) {
  body {
    align-items: center;
  }
  .music-container {
    width: 25rem;
  }

  .play-section {
    .image-container {
      width: 6rem;
      height: 6rem;
      top: 0;
    }
    .image-container img {
      width: inherit;
      height: inherit;
      bottom: 1.5rem;
    }
  }

  .buttons {
    .navigation {
      .action-btn {
        font-size: 1.2rem;
        margin: 0.2rem;
      }
    }
    .volume-section {
      input {
        width: 12.5rem;
      }
    }
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .navigation {
    margin: 0;
  }

  .playlist-options {
    margin: 0;
  }

  .copyrights {
    margin-top: 0.1rem;
  }
  ul {
    max-height: 3.2rem;
  }
}
