/* Styles for the ul scrollbar*/
ul::-webkit-scrollbar {
    width: 15px;
    border-radius: 5px;
    box-shadow: none;
  }
  ul::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: none;
  }
  ul::-webkit-scrollbar-thumb {
    background-color: var(--dark-grey);
    border-radius: 5px;
    border: none;
    box-shadow: var(--box-shadow);
  } 