/* New transaction modal */
.new-transaction-modal-container {
  background-color: #4a4d3eef;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.new-transaction-modal-container.show-modal {
  display: block;
}

.new-transaction-modal {
  background-color: #d4dbcd;
  color: var(--dark-grey);
  border-radius: 5px;
  width: 30rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: modalopen;
  animation-duration: 0.5s;

  .modal-header {
    display: flex;
    justify-content: space-between;
  }
}
fieldset {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 100%;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.transaction-cost .form-control {
  width: 30%;
}

.transaction-info .form-control {
  width: 45%;
}

input,
select {
  padding: 10px;
  margin: 0.5rem 0;
  font-size: 1rem;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgb(212, 229, 245) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border: transparent;
  background-color: var(--faded-white);
  color: var(--dark-grey);
}

input:focus,
select:focus {
  outline: 1px solid;
}

label {
  font-weight: 700;
  letter-spacing: 1px;
}

sup {
  font-weight: normal;
  font-size: 0.7rem;
  color: var(--red);
}

sub {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

button.close-modal {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  border-radius: 50%;
  border: transparent;
  box-shadow: var(--button-shadow);
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
}

/* Edit entries modal */
.modal-container {
  background-color: #4a4d3eef;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: #d4dbcd;
  color: var(--dark-grey);
  border-radius: 5px;
  width: 30rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: modalopen;
  animation-duration: 0.5s;
}

.modal-header {
  background-color: var(--yellow);
  color: var(--dark-grey);
  padding: 1.2rem;
  letter-spacing: 1px;
}

.modal-header span {
  font-size: 1.5rem;
}

.modal-content {
  padding: 20px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-form .form-control {
  padding: 0 1rem;
}

div.edit-btns {
  display: flex;
  flex-direction: row;
}

.modal-form div {
  width: 100%;
}

button.save-btn,
button.cancel-btn {
  background-color: var(--green);
  color: var(--white);
  box-shadow: var(--button-shadow);
  text-shadow: var(--text-shadow);
  padding: 10px 15px;
  margin: 1.2rem 0;
  border-radius: 5px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border: transparent;
  cursor: pointer;
  width: 50%;
}

button.save-btn {
  margin-right: 2rem;
}

/*  Delete entries modal */
.undo-modal-container {
  background-color: #4a4d3eef;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.undo-modal-container.show-modal {
  display: block;
}

.undo-modal {
  background-color: #d4dbcd;
  color: var(--dark-grey);
  border-radius: 5px;
  width: 30rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: modalopen;
  animation-duration: 0.5s;
  padding: 2rem;
}

.undo-modal-container p {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.undo-modal-container p span {
  font-size: 1.5rem;
}

button.delete-btn,
button.cancel-delete-btn {
  background-color: var(--green);
  color: var(--white);
  box-shadow: var(--button-shadow);
  text-shadow: var(--text-shadow);
  padding: 10px 15px;
  margin: 1.2rem 0;
  border-radius: 5px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border: transparent;
  cursor: pointer;
  width: 50%;
}
button.delete-btn:hover {
  background-color: var(--red);
  color: var(--white);
}

button.delete-btn {
  margin-right: 2rem;
}

/*  All modals */
@media (hover: hover) and (pointer: fine) {
  button:hover {
    background-color: var(--yellow);
    color: var(--dark-grey);
  }
  button.close-modal:hover {
    background-color: var(--dark-grey);
    color: var(--yellow);
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .modal,
  .new-transaction-modal {
    max-width: 25rem;
  }

  .undo-modal-container p {
    font-size: 1rem;
  }
  .undo-modal {
    width: 350px;
  }
  .undo-modal-container h4 {
    font-size: 1rem;
  }
  .undo-modal-container h4 span {
    font-size: 1.5rem;
  }
}
