/* Styles for the ul scrollbar*/
ul::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;
  box-shadow: none;
}
ul::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
  border-radius: 5px;
}
ul::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 5px;
}
