@import url("https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap");
@import url("modals-styles.css");
@import url("scroll-styles.css");
@import url("tooltip-styles.css");

:root {
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --button-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --corners-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --white: #f9f4f4;
  --faded-white: #ffffffc8;
  --green: #16683f;
  --red: #d3070a;
  --blue: #577590;
  --dark-grey: #242323;
  --light-green: #caffbf;
  --yellow: #f9c74f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Martel Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  color: var(--dark-grey);
  background-image: linear-gradient(
    45deg,
    rgb(247, 206, 103) 0%,
    rgb(247, 215, 128) 9%,
    rgb(82, 219, 155) 49%,
    rgb(114, 155, 201) 76%,
    rgb(67, 112, 124) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 40rem;
  height: auto;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: #f2f8f8;
  position: relative;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  letter-spacing: 2px;

  h1 {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--blue);
    font-weight: normal;
    span {
      font-weight: bold;
    }
  }

  h2 {
    width: 100%;
    p {
      width: 40%;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: left;

      span {
        width: 50%;
        color: var(--blue);
      }
    }
    p {
      span:nth-child(2) {
        font-size: 1.5rem;
        font-weight: bolder;
      }

      #total-income {
        color: var(--green);
      }
      #total-expenses {
        color: var(--red);
      }
    }

    p.plus {
      color: var(--green);
    }

    p.minus {
      color: var(--red);
    }
  }
}

ul {
  list-style: none;
  margin: 1.5rem 0;
  padding-right: 0.2rem;
  max-height: 80vh;
  overflow-y: auto;
  width: 100%;
}

li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  background-color: var(--faded-white);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-radius: 5px;

  section {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .display-date {
      width: 50%;
    }

    .dropdown {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      position: relative;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 1.2rem;
        font-weight: normal;
        padding: 0 7px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        background-color: var(--faded-white);
        i {
          pointer-events: none;
        }
      }

      button:hover {
        box-shadow: var(--box-shadow);
        background-color: #f9e5b7;
      }
    }

    .dropdown-content {
      display: none;
      flex-direction: row;
      align-items: flex-end;
      position: absolute;
      right: 35px;
      top: 0px;
      overflow: hidden;
      height: auto;
      padding: 5px;
      border-radius: 5px;
      background-color: var(--white);
      box-shadow: 0px 10px 10px 0px rgba(163, 160, 160, 0.8);
      cursor: pointer;

      button {
        border: none;
        background-color: transparent;
        border-radius: 5px;
        padding: 3px 6px;
        font-size: 0.9rem;
      }

      .delete-item {
        color: var(--red);
      }

      button:hover {
        box-shadow: var(--box-shadow);
        background-color: #f9e5b7;
      }
    }
  }

  section:first-child {
    margin-bottom: 0.5rem;
  }

  .transaction-details {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .item-name {
      width: 80%;
      font-weight: bold;
    }
    .item-details {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 20%;

      span {
        font-weight: bold;
      }
    }
  }
}

li.minus {
  /* border-left: 10px solid var(--red); */
  background-color: rgba(211, 7, 10, 0.1);
}
li.plus {
  /* border-left: 10px solid var(--green); */
  background-color: rgba(22, 104, 63, 0.1);
}

li p.price-per-unit {
  width: 100%;
  font-size: 0.8rem;
  text-align: right;
  font-weight: 400;
}

button:active {
  transform: scale(0.9);
}

.form-control.success small {
  color: var(--green);
}

.form-control.error small {
  color: var(--red);
}

hr {
  width: 30%;
  margin: auto;
}

footer {
  text-align: center;
  height: auto;

  .copyright {
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0;
  }
}

@media (hover: hover) and (pointer: fine) {
  .add-transaction-btns {
    button:hover {
      background-color: var(--yellow);
      color: var(--dark-grey);
    }
  }
}

@media (max-width: 640px) {
  footer {
    padding-top: 0.5rem;
  }
}

@media (min-width: 300px) and (max-width: 640px) {
  header {
    p {
      margin: 0;
      width: 100%;
      justify-content: center;
      align-items: center;

      span {
        font-size: 1rem;
      }
    }
    p {
      span:nth-child(2) {
        font-size: 1.2rem;
      }
    }
  }

  .container {
    width: 100%;
    height: 100svh;
    margin: 0;
    padding: 0.8rem;
  }

  .display-date {
    font-size: 1rem;
  }
  .display-date span {
    font-size: 0.8rem;
  }

  li span.item-name {
    width: fit-content;
    margin-left: 0;
  }

  .transaction-cost {
    flex-direction: column;
  }

  .transaction-cost .form-control {
    width: 100%;
  }
}

@media (min-width: 641px) {
  .container {
    margin: 2.5rem;
  }
}
