/* Styles for the tooltip */
/* .tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: fit-content;
  font-size: 0.8rem;
  border-radius: 10px;
  width: 100px;
  padding: 5px;
  letter-spacing: 1.2px;
  box-shadow: rgba(213, 213, 213, 0.35) 0px 3px 15px;
} */

/* .tooltip-text.edit {
  background-color: var(--yellow);
  color: var(--dark-grey);
  right: 2rem;
  bottom: -30%;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip-text.delete {
  background-color: var(--red);
  color: var(--white);
  right: 3.5rem;
  bottom: -30%;
  opacity: 0;
  transition: opacity 0.5s;
} */

/* button.edit-item:hover .tooltip-text,
button.delete-item:hover .tooltip-text {
  visibility: visible;
}

button.delete-item:hover .delete,
button.edit-item:hover .edit {
  opacity: 1;
} */


