@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap");

:root {
  --dot-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  --needle-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --needle-default-rotation: translate(-50%, -100%) rotate(0deg);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Glass Antiqua", cursive;
  background-color: #051224;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px 0 0;
  width: 80%;
}

.hours-ring,
.clock,
.inner-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.hours-ring {
  background-color: #3a4444;
  width: 750px;
  height: 750px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  border-radius: 50%;
  transition: all 0.35s ease-in;
}

.needle.hours {
  width: 200px;
  height: 320px;
  background-color: #f2a20c;
  transform: var(--needle-default-rotation);
  box-shadow: var(--needle-shadow);
}

.needle.minutes {
  transform: var(--needle-default-rotation);
  width: 120px;
  height: 300px;
  background-color: #282335;
  box-shadow: var(--needle-shadow);
}

.needle.seconds {
  transform: var(--needle-default-rotation);
  width: 120px;
  height: 280px;
  background-color: #dfdfae;
  box-shadow: var(--needle-shadow);
}

.needle.seconds img {
  width: 7.5rem;
  margin-left: -15px;
  margin-top: -65px;
  transform: rotateZ(180deg);
}

.clock {
  position: relative;

  width: 650px;
  height: 650px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background: linear-gradient(
    135deg,
    rgba(1, 20, 17, 1) 0%,
    rgba(49, 102, 93, 1) 19%,
    rgba(70, 138, 126, 1) 39%,
    rgba(36, 139, 137, 1) 58%,
    rgba(57, 122, 102, 1) 79%,
    rgba(87, 99, 54, 1) 100%,
    rgba(43, 72, 81, 1) 100%
  );
}

.inner-circle {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #3e463c;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.center {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  position: absolute;
  background-color: #3c6d3c;
  box-shadow: var(--dot-shadow);
}

.time-and-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  font-size: 2.8rem;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-left: 150px;
  width: 20%;
}

@media (max-width: 640px) {
  body {
    height: 100vh;
    margin: 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .clock-container {
    width: 100%;
    margin: 0;
  }
  .hours-ring {
    max-width: 380px;
    max-height: 380px;
  }
  .clock {
    max-width: 320px;
    max-height: 320px;
  }
  .needle.hours {
    max-width: 75px;
    max-height: 155px;
  }
  .needle.minutes {
    max-width: 40px;
    max-height: 150px;
  }
  .needle.seconds {
    max-width: 40px;
    max-height: 135px;
  }
  .needle.seconds img {
    top: 0;
    max-width: 60px;
  }
  .inner-circle {
    max-width: 110px;
    max-height: 110px;
  }
  .center {
    max-width: 90px;
    max-height: 90px;
  }
  .time-and-date {
    font-size: 1.5rem;
    width: 100%;
    margin: 20px 0;
  }
}
