@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap");

:root {
  --dot-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  --needle-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --needle-default-rotation: translate(-50%, -100%) rotate(0deg);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Glass Antiqua", cursive;
  background-color: #051224;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.clock-container {
  height: 640px;
  width: 640px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.hours-ring,
.clock,
.inner-circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.hours-ring {
  background-color: #3a4444;
  width: 640px;
  height: 640px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  border-radius: 50%;
  transition: all 0.35s ease-in;
}

.needle.hours {
  width: 130px;
  height: 265px;
  background-color: #f2a20c;
  transform: var(--needle-default-rotation);
  box-shadow: var(--needle-shadow);
}

.needle.minutes {
  transform: var(--needle-default-rotation);
  height: 265px;
  width: 100px;
  background-color: #282335;
  box-shadow: var(--needle-shadow);
}

.needle.seconds {
  transform: var(--needle-default-rotation);
  height: 260px;
  width: 100px;
  background-color: #dfdfae;
  box-shadow: var(--needle-shadow);
}
.needle.seconds img {
  width: 7.5rem;
  margin-left: -25px;
  margin-top: -55px;
  transform: rotateZ(180deg);
}
.hour-dots {
  height: 640px;
  width: 648px;
  position: absolute;
}

.hour-dots div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
}

.hour-dots div:nth-of-type(1) {
  transform: rotateZ(30deg);
}
.hour-dots div:nth-of-type(2) {
  transform: rotateZ(60deg);
}
.hour-dots div:nth-of-type(3) {
  transform: rotateZ(90deg);
}
.hour-dots div:nth-of-type(4) {
  transform: rotateZ(120deg);
}
.hour-dots div:nth-of-type(5) {
  transform: rotateZ(150deg);
}
.hour-dots div:nth-of-type(6) {
  transform: rotateZ(180deg);
}
.hour-dots div:nth-of-type(7) {
  transform: rotateZ(210deg);
}
.hour-dots div:nth-of-type(8) {
  transform: rotateZ(240deg);
}
.hour-dots div:nth-of-type(9) {
  transform: rotateZ(270deg);
}
.hour-dots div:nth-of-type(10) {
  transform: rotateZ(300deg);
}
.hour-dots div:nth-of-type(11) {
  transform: rotateZ(330deg);
}

.dot {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 3px;
  height: 40px;
  width: 40px;
  background-color: #fffcfc;
  border-radius: 50%;
  box-shadow: var(--dot-shadow);
}

.clock {
  position: relative;
  width: 540px;
  height: 540px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background: linear-gradient(
    135deg,
    rgba(1, 20, 17, 1) 0%,
    rgba(49, 102, 93, 1) 19%,
    rgba(70, 138, 126, 1) 39%,
    rgba(36, 139, 137, 1) 58%,
    rgba(57, 122, 102, 1) 79%,
    rgba(87, 99, 54, 1) 100%,
    rgba(43, 72, 81, 1) 100%
  );
}

.inner-circle {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: #3e463c;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.center {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  position: absolute;
  background-color: #3c6d3c;
  box-shadow: var(--dot-shadow);
}

.time-and-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  font-size: 2.8rem;
  text-align: center;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

@media (max-width: 640px){
  body {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .hours-ring,
  .hour-dots {
    max-width: 380px;
    max-height: 380px;
  }
  .dot {
    font-size: 1.5rem;
    max-width: 25px;
    max-height: 25px;
  }
  .clock {
    max-width: 320px;
    max-height: 320px;
  }
  .needle.hours {
    max-width: 75px;
    max-height: 155px;
  }
  .needle.minutes {
    max-width: 40px;
    max-height: 150px;
  }
  .needle.seconds {
    max-width: 40px;
    max-height: 135px;
  }
  .needle.seconds img {
    max-width: 60px;
    top: -25px;
    left: -30px;
  }
  .inner-circle {
    max-width: 110px;
    max-height: 110px;
  }
  .center {
    max-width: 90px;
    max-height: 90px;
  }
  .time-and-date {
    font-size: 1.5rem;
    margin: 0;
  }
}
