@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");

:root {
  --gradient: linear-gradient(
    38deg,
    rgba(255, 191, 0, 0.885) 0%,
    rgba(255, 191, 0, 0.649) 20%,
    rgba(206, 155, 2, 0.8) 32%,
    rgba(196, 65, 8, 0.7) 47%,
    rgba(170, 11, 11, 0.7) 62%,
    rgba(41, 41, 41, 0.6) 75%,
    rgba(40, 38, 38, 0.8) 88%
  );
  --photo-box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --background-color: rgba(251, 209, 209, 0.98);
  --yellow: rgb(218, 166, 12);
  --red: rgb(170, 11, 11);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--gradient);
}
.container {
 margin: 50px;
}

header {
  position: relative;
  z-index: 99;
  padding: 5rem 0;
  border-radius: 20px 20px 0 0;
  box-shadow: var(--box-shadow);
}
#title {
  text-align: center;
  font-size: 4.5rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.second-name {
  color: var(--yellow);
}
.third-name {
  color: var(--red);
}
#subtitle {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  color: var(--background-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#img-div {
  align-items: center;
  background-color: rgb(245, 245, 245);
  padding: 20px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 5px;
  box-shadow: var(--photo-box-shadow);
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#img-caption {
  font-size: 16px;
  height: auto;
  text-align: center;
  max-width: 50rem;
  margin: auto;
}

h3 {
  padding: 2rem 0;
  font-size: 2rem;
}

#tribute-info {
  font-size: 1.2rem;
  text-align: justify;
  letter-spacing: normal;
  line-height: 2rem;
  width: 70vw;
}
#tribute-info ul {
  padding-left: 0;
}
#tribute-info ul li {
  padding-bottom: 1.5rem;
}
#tribute-info ul li span {
  font-weight: bold;
}

#quote {
  text-align: justify;
  padding: 3rem;
  letter-spacing: 1.2px;
  width: 70vw;
  font-size: 2rem;
  font-family: "Edu NSW ACT Foundation", cursive;
}

#author {
  text-align: right;
}

a {
  text-decoration: none;
  color: var(--red);
}
a:hover {
  text-decoration: underline 2px var(--red);
}
a:visited {
  color: grey;
}

footer {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.2rem;
  box-shadow: var(--box-shadow);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (max-width: 640px) {
  .container {
    margin: 10px;
  }
  header {
    /* background-color: var(--background-color); */
    padding: 10px;
  }
  #title {
    text-align: center;
    font-size: 3rem;
  }
  #img-div {
    margin: 10px 5px;
  }
  h3 {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.2rem;
  }
  #tribute-info {
    font-size: 1rem;
    line-height: normal;
  }
  #quote {
    font-size: 1.2rem;
    padding: 10px;
  }
  footer {
    font-size: 1rem;
    padding: 10px;
  }
}
